*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root{
    --body-color:#F5F5F5;
    --section-color:#EAF2FD;
    --text-color: #464646;
    --blue: #2A7AE4;

    --font: "Raleway", sans-serif;

    
    --padding-container:5% 0;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--font);
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);


}
/* 
.hero{
    min-height: 100vh;
} */

.hero__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --padding-container:5.5% 0;
}

.hero__logo{
    display: flex;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.hero__name{
    font-weight: 700;
}

.hero__email{
    font-size: 0.8rem;
    font-weight: 400;
}

.hero__main{
    text-align: left;
}

.hero__picture{
    padding-bottom: 5.5%;
}

.hero__title{
    padding-bottom: 5.5%;
    font-weight: 700;
}

.hero__paragraph{
    padding-bottom: 5.5%;
    font-weight: 400;
}

.hero__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    /* gap: 3px; */
    font-weight: 700;
}

.hero__link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__arrow{
    width: 50%;
}

.hero__about{
    background-color: var(--section-color);
    width: 100%;
}

.hero__texts--about{
    width: 90%;
    margin: 0 auto;
}

.hero__subtitle{
    font-weight: 700;
    padding-bottom: 5.5%;
}

.hero__paragraph--separate{
    padding-bottom: 6%;
}

.hero__signature{
    padding-top: 5.5%;
}

.main{
    background-color: var(--body-color);
}

.main__subtitle{
    text-align: center;
}

.main__skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.main__skill{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 6px;
    background-color:#fff ;
    height: 118px;
    padding: 5.5%;

}

.skill__img{
    width: 28px;
    height: 28px;
}

.skill__img--big{
    width: 40px;
    height: 37px;
}
.main__skill{
    font-weight: 700;
    
}

.main__academicTraining{
    background-color: var(--section-color);
    width: 100%;
}

.main__containerTraininng--container{
    width: 90%;
    margin: 0 auto;
}

.main__subtitle--academic{
    padding-bottom: 5.5%;
}

.main__courses{
    display: grid;
    grid-template-columns:1fr;
    padding:0 5.5%;
    gap: 16px;
    
}



.img__course{
    width: 100%;
    margin-bottom: 2.5%;
}

.main__analysis{
    margin-bottom: 2.5%;
}

.paragraph__course{
    font-size: 0.9rem;
    font-weight: 500;
}

.main__projects{
    display: grid;
    grid-template-columns:1fr;
    padding:0 5.5%;
    gap: 48px;
}

.img__project{
    width: 100%;
    margin-bottom: 2.5%;
}

.paragraph__course--project{
    margin-bottom: 2.5%;
}

.project__buttons{
    display: flex;
    align-items: center;
    gap: 8px;
}

.project__repository{
    color: var(--blue);
    border: 1px solid var(--blue);
    padding: 12px 16px;
    text-decoration: none;
    font-weight: 500;
}

.project__repository:hover{
    color: #fff;
    background-color: var(--blue);
    transition: background-color .3s ease-in-out;
}

.project__repository--demo{
    color: #fff;
    background-color: var(--blue);
}

.project__repository--demo:hover{
    color: var(--blue);
    background-color: inherit;
}



